<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>javascript</title>
</head>
<body>
<!--자바스크립트 인라인 사용 전-->
<script>
    //텍스트 렌더링
    var username = [[${user.username}]];
    var userage = [[${user.age}]];
    //자바스크립트 내추럴 템플릿
    var username2 = /*[[${user.username}]]*/ "test username";
    //객체
    var user = [[${user}]];
</script>
<!--자바스크립트 인라인 사용 후-->
<script th:inline="javaScript">
    //텍스트 렌더링
    var username = [[${user.username}]];
    var userage = [[${user.age}]];
    //자바스크립트 내추럴 템플릿
    var username2 = /*[[${user.username}]]*/ "test username";
    //객체
    var user = [[${user}]];
</script>
</body>
</html>